<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head>
        <title>HLA_imputation</title>
    </head>
    <body>
        <div layout:fragment="content">

            <div class="container">
                <div class="row">
                    <div class="col-md-12 mt-3">
                        <h1>HLA Imputation</h1>
                        <hr />
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">


                        <form>
                            <div class="form-group row">
                                <label class="control-label col-md-3" for="fileUpload">Plink format input:</label>
                                <div class="col-md-8">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="fileUpload">
                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3" for="GenomicAssembly">Genomic assembly:</label>

                                <div class="col-md-8">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio"
                                               id="hg19" name="GenomicAssembly"
                                               class="custom-control-input">
                                        <label class="custom-control-label" for="hg19">hg19</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio"
                                               id="hg38" name="GenomicAssembly"
                                               class="custom-control-input">
                                        <label class="custom-control-label" for="hg38">hg38</label>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="control-label col-md-3" for="Resolution">Resolution:</label>

                                <div class="col-md-8">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio"
                                               id="2field" name="Resolution"
                                               class="custom-control-input">
                                        <label class="custom-control-label" for="2field">2-field</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio"
                                               id="3field" name="Resolution"
                                               class="custom-control-input">
                                        <label class="custom-control-label" for="3field">3-field</label>
                                    </div>

                                </div>
                            </div>



                            <div class="form-group row">

                                <label class="control-label col-md-3" for="PopulationModel">Population model:</label>
                                <div class="col-md-8">

                                    <select class="custom-select" id="PopulationModel">
                                        <option selected>Choose One...</option>
                                        <option value="African">African</option>
                                        <option value="Asian">Asian</option>
                                        <option value="European">European</option>
                                        <option value="Japanese">Japanese</option>
                                        <option value="Korean">Korean</option>
                                        <option value="Han Chinese">Han Chinese</option>
                                        <option value="Hispanic">Hispanic</option>
                                        <option value="Multi-ethnic">Multi-ethnic</option>
                                    </select>

                                </div>

                            </div>


                            <div class="form-group row">

                                <label class="control-label col-md-3" for="GenotypingPlatform">Genotyping platform:</label>
                                <div class="col-md-8">

                                    <select class="custom-select" id="GenotypingPlatform">
                                        <option selected>Choose One...</option>
                                        <option value="Affymetrix_GenomeWideHumanSNPArray_6.0">Affymetrix Genome-Wide Human SNP Array 6.0</option>
                                        <option value="Affymetrix_Axom_ASI">Affymetrix Axom &reg; ASI</option>
                                        <option value="Affymetrix_Axom_Japonica">Affymetrix Axom &reg; Japonica</option>
                                        <option value="Affymetrix_Axom_Neo">Affymetrix Axom &reg; Neo</option>
                                    </select>

                                </div>

                            </div>


                            <div class="form-group row">
                                <label class="control-label col-md-3" for="output">Output:</label>

                                <div class="col-md-9">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio"
                                               id="txt" name="output"
                                               class="custom-control-input">
                                        <label class="custom-control-label" for="txt">txt</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio"
                                               id="xlsx" name="output"
                                               class="custom-control-input">
                                        <label class="custom-control-label" for="xlsx">xlsx</label>
                                    </div>

                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-md-9">
                                    <button type="submit" class="btn btn-default">Submit</button>
                                    <button type="reset" class="btn btn-default">Reset</button>
                                </div>
                            </div>
                        </form> 

                    </div> 
                </div><!-- div class="row" : end of the form section -->

                <hr />

                <div class="row">
                    <div class="col-md-12">
                        <h2>Job List</h2>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">


                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th>Job ID</th>
                                    <th>State</th>
                                    <th>Result</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Footer 1</th>
                                    <th>Footer 2</th>
                                    <th>Footer 3</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                </tr>
                                <tr>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                </tr>
                                <tr>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>


            </div> 
        </div>

    </body>
</html>
