<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head>
        <title>SNP_imputation</title>
    </head>
    <body>
        <div layout:fragment="content">

            <div class="container">
                <div class="row">
                    <div class="col-md-12 mt-3">
                        <h1>SNP Imputation</h1>
                        <hr />
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">

                        <form method="post" action="#" th:action="@{/SNP_imputation}"
                              th:object="${snpImputationForm}" enctype="multipart/form-data">
                            <div class="form-group row">
                                <label class="control-label col-md-3" for="fileUpload">Plink format input:</label>
                                <div class="col-md-8">
                                    <div class="custom-file">
                                        <!--
                                        <input type="file" class="custom-file-input" id="fileUpload">
                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                        -->
                                        <input type="file" class="custom-file-input" id="plinkFile" th:field="*{plinkFile}" />
                                        <label class="custom-file-label" for="plinkFile">Choose file</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="control-label col-md-3" for="GenomicAssembly">Genomic assembly:</label>

                                <div class="col-md-8">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" th:field="*{genomicAssembly}" value="hg19" />
                                        <label class="custom-control-label" th:for="${#ids.prev('genomicAssembly')}" th:text="hg19"></label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" th:field="*{genomicAssembly}" value="hg38" />
                                        <label class="custom-control-label" th:for="${#ids.prev('genomicAssembly')}" th:text="hg38"></label>
                                    </div>

                                </div>
                            </div>


                            <div class="form-group row">

                                <label class="control-label col-md-3" for="PopulationModelSelector">Population model:</label>
                                <div class="col-md-8">

                                    <select class="custom-select" id="PopulationModelSelector" name="populationModel">
                                        <option selected>Choose One...</option>
                                        <option th:each="item : ${populationModelMap}" th:value="${item.value}"
                                                th:text="${item.key}" th:selected="${item.value == populationModel}">pulldown</option>
                                    </select>

                                </div>

                            </div>


                            <div class="form-group row">

                                <label class="control-label col-md-3" for="GenotypingPlatformSelector">Genotyping platform:</label>
                                <div class="col-md-8">

                                    <select class="custom-select" id="GenotypingPlatformSelector" name="genotypingPlatform">
                                        <option selected>Choose One...</option>
                                        <option th:each="item : ${genotypingPlatformMap}" th:value="${item.value}"
                                                th:text="${item.key}" th:selected="${item.value == genotypingPlatform}">pulldown</option>
                                    </select>

                                </div>

                            </div>


                            <div class="form-group row">
                                <label class="control-label col-md-3" for="outputFormat">Output Format:</label>
                                <div class="col-md-8">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" th:field="*{outputFormat}" value="txt" />
                                        <label class="custom-control-label" th:for="${#ids.prev('outputFormat')}" th:text="txt"></label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" th:field="*{outputFormat}" value="xlsx" />
                                        <label class="custom-control-label" th:for="${#ids.prev('outputFormat')}" th:text="xlsx"></label>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-md-9">

                                    <button type="submit">Submit</button>
                                    <button type="reset">Reset</button>

                                </div>
                            </div>
                        </form>

                    </div>
                </div><!-- div class="row" : end of the form section -->

                <hr />

                <div class="row">
                    <div class="col-md-12">
                        <h2>Job List</h2>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">


                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th>Job ID</th>
                                    <th>State</th>
                                    <th>Result</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Footer 1</th>
                                    <th>Footer 2</th>
                                    <th>Footer 3</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                </tr>
                                <tr>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                </tr>
                                <tr>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>



            </div>
        </div>
    </body>
</html>


