<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="jp.ac.nig.ddbj.imputation.repository.UserMapper">

  <!-- マッピング定義(ユーザー) -->
  <resultMap type="jp.ac.nig.ddbj.imputation.domain.user.model.MUser" id="user">
    <id column="user_id" property="userId" />
    <result column="user_name" property="userName" />
    <result column="affiliation" property="affiliation" />
    <result column="password" property="password" />
    <result column="role" property="role" />
<!--    <association property="department" resultMap="department"/>
    <collection property="salaryList" resultMap="salary" columnPrefix="salary_"/> -->
  </resultMap>

  <!-- マッピング定義(部署) -->
  <!--
  <resultMap type="jp.ac.nig.ddbj.imputation.domain.user.model.Department" id="department">
    <id column="department_id" property="departmentId" />
    <result column="department_name" property="departmentName" />
  </resultMap>
-->
  <!-- マッピング定義(給料) -->
  <!--
  <resultMap type="jp.ac.nig.ddbj.imputation.domain.user.model.Salary" id="salary">
    <id column="user_id" property="userId" />
    <id column="year_month" property="yearMonth" />
    <result column="salary" property="salary" />
  </resultMap>
-->
  <!-- ユーザー1件登録 -->
  <insert id="insertOne">
    insert into m_user(
        user_id
      , user_name
      , affiliation
      , password
      , role
    )
    values (
        #{userId}
      , #{userName}
      , #{affiliation}
      , #{password}
      , #{role}
    )
  </insert>

  <!-- ユーザー複数件取得 -->
  <select id="findMany" resultType="MUser">
    select
      *
    from
      m_user
    <where>
      <if test="userId != null">
        user_id like '%' || #{userId} || '%'
      </if>
      <if test="userName != null">
        and user_name like '%' || #{userName} || '%'
      </if>
    </where>
  </select>

  <!-- ユーザー1件検索 -->
  <select id="findOne" resultMap="user">
    select
        m_user.user_id
      , m_user.user_name
      , m_user.affiliation
      , m_user.password
      , m_job.job_id as job_id
      , m_job.analysis_type as analysis_type
      , m_job.status as job_status
    from
      m_user
      left join t_salary
        on m_user.user_id = m_job.user_id
    where
      m_user.user_id = #{userId}
  </select>

  <!-- ユーザー1件更新 -->
  <update id="updateOne">
    update
      m_user
    set
        password = #{password}
      , user_name = #{userName}
    where
      user_id = #{userId}
  </update>

  <!-- ユーザー1件削除 -->
  <delete id="deleteOne">
    delete from
      m_user
    where
      user_id = #{userId}
  </delete>

  <!-- ログインユーザー情報取得 -->
  <select id="findLoginUser" resultType="MUser">
    select
      *
    from
      m_user
    where
      user_id = #{userId}
  </select>
</mapper>
